/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 全局scss变量 */

/* 主题色 */
$uni-primary: #00C28A; // 主题绿色
$uni-primary-rgb: 0, 194, 138;
$uni-primary-hover: #08B783; // 按钮hover态
$uni-primary-disable: #65D6B5; // 按钮禁用态
$uni-primary-light: rgba(0, 194, 138, 0.1); // 主题色浅色背景

/* 辅助色 */
$uni-blue: #007BFF; // 蓝色
$uni-blue-rgb: 0, 123, 255;
$uni-blue-light: rgba(0, 123, 255, 0.1);

$uni-orange: #FF6B00; // 橙色
$uni-orange-rgb: 255, 107, 0;
$uni-orange-light: rgba(255, 107, 0, 0.1); // 橙色浅背景

$uni-error: #F5222D; // 错误色
$uni-error-rgb: 245, 34, 45;
$uni-error-light: rgba(245, 34, 45, 0.1);

/* 文字颜色 */
$uni-text-color: #333333; // 主要文字
$uni-text-color-inverse: #FFFFFF; // 反色
$uni-text-color-second: #666666; // 次要文字
$uni-text-color-grey: #999999; // 辅助灰色文字
$uni-text-color-disable: #CCCCCC; // 禁用文字颜色

/* 背景颜色 */
$uni-bg-color: #FFFFFF; // 白色背景
$uni-bg-color-grey: #F7F9FC; // 灰色背景
$uni-bg-color-hover: #F5F5F5; // hover态背景色

/* 边框颜色 */
$uni-border-color: #EEEEEE;

/* 尺寸相关 */
$uni-border-radius-sm: 6rpx;
$uni-border-radius-base: 10rpx;
$uni-border-radius-lg: 16rpx;
$uni-border-radius-circle: 100rpx;

/* 文字尺寸 */
$uni-font-size-sm: 24rpx;
$uni-font-size: 28rpx;
$uni-font-size-lg: 32rpx;
$uni-font-size-title: 36rpx;
$uni-font-size-subtitle: 30rpx;

/* 图标尺寸 */
$uni-icon-size-sm: 48rpx;
$uni-icon-size-base: 64rpx;
$uni-icon-size-lg: 80rpx;

/* 水平间距 */
$uni-spacing-row-sm: 12rpx;
$uni-spacing-row-base: 24rpx;
$uni-spacing-row-lg: 32rpx;

/* 垂直间距 */
$uni-spacing-col-sm: 10rpx;
$uni-spacing-col-base: 20rpx;
$uni-spacing-col-lg: 30rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #333333; // 文章标题颜色
$uni-font-size-title: 36rpx;
$uni-color-subtitle: #666666; // 二级标题颜色
$uni-font-size-subtitle: 30rpx;
$uni-color-paragraph: #333333; // 文章段落颜色
$uni-font-size-paragraph: 28rpx;
