button {
  margin: 0;
  padding: 0;
  background: none;

  &::after {
    border: none;
  }
}
view,
text,
input,
textarea {
  box-sizing: border-box;
}
button[disabled]:not([type]) {
  padding: 0;
  background: none;
}
button[disabled],
button[type='primary'] {
  background-color: $uni-color-primary !important;
}
.img-avatar {
  background: url('@/static/ImgDefAvatar.png') !important;
  background-size: 100% 100% !important;
}

.flex {
  display: flex;
}

.flex-1 {
  overflow: hidden;
  flex: 1;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-fs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-ct {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  flex-basis: 100%;
}

.padding-safe {
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}

.page-base {
  @extend .flex-col;
  @extend .padding-safe;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  background: #f6f6f6;
}

.disabled {
  position: relative;
  color: #ccc !important;
  pointer-events: none;

  &::after {
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.7;
  }
}

.btn-vice {
  @extend .flex-ct;
  box-sizing: border-box;
  border: 1px solid currentColor;
  color: $uni-color-primary;
}

.btn-primary {
  @extend .flex-ct;
  background: $uni-color-primary !important;
  color: #fff !important;
  border-radius: 8rpx;

  &::after {
    content: '';
  }
}

.btn-cancel {
  @extend .flex-ct;
  box-sizing: border-box;
  border: 1px solid currentColor;
  color: #666;
}

.color-white {
  color: #fff;
}

.color-base {
  color: #333;
}

.color-base-minor {
  color: #666;
}

.color-grey {
  color: #ccc;
}

.color-grey-minor {
  color: #999;
}

.color-primary {
  color: $uni-color-primary !important;
}

.color-error {
  color: #ff0000;
}

.bold {
  font-weight: 700;
}

.text-elps {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.place {
  color: $uni-text-color-placeholder;
  font-size: 28rpx;
}
.text-required {
  &::before {
    content: '*';
    @extend .color-error;
    position: relative;
    left: -6rpx;
  }
}

.text-20 {
  font-size: 20rpx;
  font-family: PingFang SC-Regular, PingFang SC;
}

.text-22 {
  font-size: 22rpx;
  font-family: PingFang SC-Regular, PingFang SC;
}

.text-24 {
  font-size: 24rpx;
  font-family: PingFang SC-Regular, PingFang SC;
}

.text-26 {
  font-size: 26rpx;
  font-family: PingFang SC-Regular, PingFang SC;
}

.text-28 {
  font-size: 28rpx;
  font-family: PingFang SC-Medium, PingFang SC;
}

.text-30 {
  font-size: 30rpx;
  font-family: PingFang SC-Medium, PingFang SC;
}

.text-32 {
  font-size: 32rpx;
  font-family: PingFang SC-Medium, PingFang SC;
}
